{{ define "main" }}
<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-128x128 avatar-container">
        <img class="is-rounded" src="{{ .Site.Params.avatarURL }}" alt="{{ .Site.Params.author }}">
      </figure>
      <h1 class="title is-1 mt-5">{{ .Site.Params.author }}</h1>
      <h2 class="subtitle is-4 has-text-grey">{{ .Site.Params.info }}</h2>
      <div class="social-icons">
        {{ range .Site.Params.social }}
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}" class="mx-3">
          <span class="icon is-large"><i class="{{ .icon }} fa-2x"></i></span>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
